.container{
  display: grid;
  padding: 0;
  margin: 0;
  grid-row-gap: 50px;
}
.header{
  background: #f55631;
  border-radius: 5px;
  height: 40px;
  padding-bottom: 40px;
}
.secundario{
  display: grid;
  padding: 0;
  grid-row-gap: 30px;
}
.libro{
  display: grid;
  grid-template-rows: auto auto;
  background: #6eb035;
  border-radius: 15px;
}
.source{
  display: grid;
  grid-template-columns: 15% 80% ;
  grid-column-gap: 30px;
  padding: 30px ;
}
.resumen{
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
}
.pelicula{
  background: #6eb035;
  border-radius: 15px;
}
.enlaces{
  background: #6eb035;
  border-radius: 15px;
}
body{
background-color: #375E97;
  font-family: verdana;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 0;
}
h1{
  text-align: center;
}
h4{
  text-align: center;
}
